@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	height: 100vh;
	background: #0075BE;
}

#container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 60%;
}

header {
	width: 100%;
}

#title {
	font-family: 'Montserrat';
	text-align: center;
	color: #FFCC00;
	margin: auto;
}

form {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 1rem;
}

#pokemonName {
	width: calc(80% - 20px);
	height: calc(2em - 20px);
	padding: 10px;
	border: none;
	border-radius: 1.5em;
	outline: none;
	font-family: "Montserrat";
	margin-bottom: 0.3125em;
}

#submit {
	width: 80%;
	height: 2em;
	border: none;
	border-radius: 1.5em;
	font-family: "Montserrat";
	margin-top: 0.3125em;
	background: #fff;
}

#pokemonContainer {
	display: flex;
	justify-content: center;
}