@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("img/wallpaper.png");
	background-size: cover;
	background-position: left 51% bottom 50%;
}

#container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 60%;
}

header {
	width: 100%;
}

#title {
	font-family: 'Montserrat';
	text-align: center;
	color: #FFCC00;
	margin: auto;
}

form {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 1rem;
}

#pokemonName {
	width: calc(80% - 20px);
	height: calc(2em - 20px);
	padding: 10px;
	border: none;
	border-radius: 1.5em;
	outline: none;
	font-family: "Montserrat";
	margin-bottom: 0.3125em;
}

#submit {
	width: 80%;
	height: 2em;
	border: none;
	border-radius: 1.5em;
	font-family: "Montserrat";
	margin-top: 0.3125em;
	background: #fff;
}

#pokemonContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

#card {
	width: 80%;
	border-radius: 1.5em;
	text-align: center;
}

#avatarContainer {
	height: 135px;
	position: relative;
}

img {
	width: 150px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

#typesContainer {
	height: 40px;
}

#statsContainer {
	height: 115px;
}

#typesList, #statsList {
	list-style-type: none;
	font-family: "Montserrat";
	padding: 0;
}
